matplotlib==3.10.1
numpy==1.26.0
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.2.3
Pillow==11.2.1
protobuf>=3.20.3
scikit_learn==1.6.1
seaborn==0.13.2
scikit-image
tensorflow==2.18.0
tensorflowjs==4.22.0
tqdm==4.67.1
